// Flex box grid

$min-column: 2 !default;
$max-column: 12 !default;

// Slow selector by default
$elements: '& > *' !default;

$flex-flow-mobile: row wrap !default;
$flex-flow-medium-up: row !default;
$align-items: stretch !default;

$default-gutter: 15px;

$max-width-medium: $default-medium - 2 * $default-gutter;
$max-width-large: $row-width !default;


$stripe: even !default; // Stripe can be [odd|even|false]
$stripe-color: #eee !default;

$vertical-padding: rem-calc(20px);

$main-content-width-factor-medium: 0.65 !default;
$aside-width-factor-medium: 1 - $main-content-width-factor-medium;
$main-content-small-factor-medium: 1 - 2 * $aside-width-factor-medium !default;

$main-content-width-factor-large: 0.75 !default;
$aside-width-factor-large: 1 - $main-content-width-factor-large;
$main-content-small-factor-large: 1 - 2 * $aside-width-factor-large !default;

// Tablet max-widths
$aside-width-medium: $aside-width-factor-medium * $max-width-medium;
$main-content-width-medium: $main-content-width-factor-medium * $max-width-medium;
$main-content-small-width-medium: $main-content-small-factor-medium * $max-width-medium;

// Desktop max-widths
$aside-width-large: $aside-width-factor-large * $max-width-large;
$main-content-width-large: $main-content-width-factor-large * $max-width-large;
$main-content-small-width-large: $main-content-small-factor-large * $max-width-large;

// Inefficient selector for all elements with flex-row
// Set to full-width for mobile/small devices
[class*="flex-row"] {
  display: flex;
  flex: 0 0 100%;
  flex-flow: $flex-flow-mobile;

  @if $align-items {
    align-items: $align-items;
  }

  #{$elements} {

    margin: {
      left: $default-gutter;
      right: $default-gutter;
    }

  }

  @if $stripe {
    &:nth-child(#{$stripe}) {
      background-color: $stripe-color;
    }
  }

  @if $vertical-padding {
    padding: {
      top: $vertical-padding;
      bottom: $vertical-padding;
    }
  }

}

@include media(medium-up) {

  @for $i from $min-column through $max-column {

    .flex-row-#{$i} {

      #{$elements} {
        width: $max-width-medium / $i;
      }

    }
  }

  [class*="flex-row"] {
    flex-flow: $flex-flow-medium-up;

    #{$elements} {
      margin: 0;
      padding: {
        left: $default-gutter;
        right: $default-gutter;
      }

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }
    }

    .main {
      width: $main-content-width-medium;
    }

    aside {
      width: $aside-width-medium;
    }

    [class*="flex-row"] {
      #{$elements} {

        &:first-child {
          margin-left: 0;
          padding-left: 0;
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }

  }

  .flex-row-3 {
    .main {
      width: $main-content-small-width-medium;
    }
  }
}

@include media(large-up) {

  @for $i from $min-column through $max-column {

    .flex-row-#{$i} {

      #{$elements} {
        width: $max-width-large / $i;
      }

    }
  }

  [class*="flex-row"] {

    .main {
      width: $main-content-width-large;
    }

    aside {
      width: $aside-width-large;
    }

  }

  .flex-row-3 {
    .main {
      width: $main-content-small-width-large;
    }
  }
}